@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Caveat:wght@400;700&family=Dancing+Script&family=Exo&family=Fira+Sans:wght@300&family=Lato&family=Lobster&family=Playfair&family=Playfair+Display&family=Quicksand&family=Tangerine&family=Titan+One&family=VT323&display=swap');
html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}
html::-webkit-scrollbar {
    width:0.5em;
    background-color: #333;
    color: white;
}
html::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px #333 solid;
}
*{
    transition: all 0.5s ease;
    font-family: Quicksand;
}
body{
    background-color:rgb(124, 69, 225);
    color: black;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}
p{
    font-size: 1.2rem;
}
#coin1,#coin2{
    background-image: url(img/coin.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    position: absolute;
    z-index: 0;
    transform-style: preserve-3d;
}
#coin1{
    top: 14vh;
    left: 7%;
}
#coin2{
    bottom: 6vh;
    right: 6%;
}
header{
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 96%;
    padding: 15px 2%;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    box-shadow: #525252 0px 0px 60px 0px;
    position: sticky;
    top: 0px;
    z-index: 15;
}
#logo{
    font-size: 2rem;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
#logoIc{
    width: 50px;
    filter: invert(100%);
    transition: all 0.5s ease;
}
#logoIc:hover{
    filter:invert(50%);
}
#refs{
    font-size: 1.3rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
    justify-content:right;
}
#refsH{
    display: none;
}
#refs a{
    margin: 0px 1%;
    background-color: #22222200;
}
#refs a:hover{
    box-shadow: #333 0px 30px 0px;
}
a{
    text-decoration: none;
    color: lightgray;
}
a:visited{
    color: lightgray;
}
#refs a:hover{
    color: #fff;
    text-decoration: underline;
}
#open-menu{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1{
    display: flex;
    padding: 10px;
    font-size: 2.7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;margin: 10vh 0px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.169);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: #222 0px 60px 200px 0px;
    font-weight: bold;
    color: lightblue;
}
#page1In{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tagline{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#tagline button{
    width: 70%;
    padding: 20px 5px;
    margin: 10px 0px;
    background-color: #333;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 9px;
    border: 1px #888 solid;
    cursor: pointer;
}
#tagline button:hover{
    color: #111;
    background-color: #bebebe;
    border-radius: 3px;
    border: 1px #000000 solid;
}
#about{
    width: 100%;
    height: 100vh;
    background-color: rgba(85, 133, 158, 0.865);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
#about1{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about1In{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#aboutIn p{
    font-size: 1.5rem;;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: #333;
    color: #999;
}
#socials a i{
    font-size: 1.7rem;
    margin: 6px 7px;
}
#footer2{
    display: flex;
    flex-direction: column;
}
#customers{
    width: 100%;
    height: 100vh;
    background-color: rgba(85, 133, 158, 0.865);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #99999950;
    top: -150vh;
    position: fixed;
    backdrop-filter: blur(6px);
}
#control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    align-items: center;
    padding: 20px 0px;
    margin-top: 20px;
    position: relative;
    top: 100px;
}
#self{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#close{
    background-color: #ffffff00;
    border: none;
    border-radius: 10px;
    aspect-ratio: 1/1;
    font-size: 1.7rem;
    padding: 3px 10px;
    height: 50px;
}
#close:hover{
    border-radius: 50%;
    background-color: #ffffff;
}
#tableD{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 90%;
    font-size: 1rem;
    overflow: auto;
}
#customers table{
    border-radius: 10px;
    overflow: auto;
    width: 50%;
    position: absolute;
    bottom: 40px;
}
table td{
    background-color: rgba(210, 210, 210, 0.806);
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}
#viewPage{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 70%;
    height:80vh;
    top: 15vh;
    left:-200%;
    backdrop-filter: blur(20px);
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: #444 10px 20px 200px;
    z-index: 10;
}
#content{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#profilePic img{
    aspect-ratio: 1/1;
    box-shadow: rgba(135, 135, 135, 0.285) -10px 10px 0px;
}
#details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 80%;
}
#close2:hover{
    background-color: #ffffff;
    border-radius: 50%;;
}
#control2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 20px 0px;
    margin-top: 20px;
}
  
#close2 {
    background-color: #ffffff00;
    border: none;
    aspect-ratio: 1/1;
    border-radius: 10px;
    font-size: 1.7rem;
    color:rgb(0, 0, 0);
    padding: 3px 10px;
    height: 50px;
    z-index: 15;
}
#viewPr{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 70%;
    height:80vh;
    top: 15vh;
    left:-200%;
    font-size: 1.6rem;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: #444 10px 20px 200px;
}

#close3:hover{
    background-color: #ffffff;
    border-radius: 50%;
}
#control3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 20px 0px;
    margin-top: 20px;
}
  
#close3 {
    aspect-ratio: 1/1;
    background-color: #ffffff00;
    border: none;
    border-radius: 10px;
    font-size: 1.7rem;
    color:rgb(0, 0, 0);
    padding: 3px 10px;
    height: 50px;
    z-index: 15;
}

#transferPage{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    width: 70%;
    height:73.5vh;
    top: 15vh;
    left:-200%;
    font-size: 1.6rem;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: #444 10px 20px 200px;
    z-index: 10;
    padding: 2%;
}
#control4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 20px 0px;
    margin-top: 20px;
}
#control4 h3{
    font-size: 1.5rem;
}
#inputSum #sum{
    width: 35%;
    font-size: 0.8rem;
}
#inputSum #send{
    width: 45%;
    font-size: 1rem;
    border: 1px white solid;
}

#close4 {
    aspect-ratio: 1/1;
    background-color: #ffffff00;
    border: none;
    border-radius: 10px;
    font-size: 1.7rem;
    color:rgb(0, 0, 0);
    padding: 3px 10px;
    height: 50px;
    z-index: 15;
}
#contentTransfer{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#check{
    display: none;
}
#cross{
    display: none;
}
#senderDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 70%;
}
#recieverDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 70%;
}

#close4:hover{
    background-color: #ffffff;
    border-radius: 50%;
}
#trBack{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    width: 100%;
    height:100vh;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: #444 10px 20px 200px;
    z-index: 10;

}
#trHistory{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 70%;
    height:80vh;
    top: 15vh;
    left:-200%;
    font-size: 1.6rem;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: #444 10px 20px 200px;
    overflow: auto;
}
#control5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    position: absolute;
    top: 0px;
    padding: 0px 0px;
    margin-top: 20px;
}
#contentHistory{
    margin-top: 50px;
    padding: 20px 20px 0px 20px;
    overflow: auto;
}
#close5 {
    aspect-ratio: 1/1;
    background-color: #ffffff00;
    border: none;
    border-radius: 10px;
    font-size: 1.7rem;
    color:rgb(0, 0, 0);
    padding: 3px 10px;
    height: 50px;
    z-index: 15;
}
#close5:hover{
    background-color: #ffffff;
    border-radius: 50%;
}
#inputSum{
    width: 60%;
    background-color: #ffffff00;
    border-radius: 10px;
    
}
#sum{
    padding: 10px 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 40px;
    border: 1px black solid;
    width: 80%;
}
#sum::-webkit-inner-spin-button{
    display: none;
}
#send{
    padding: 10px 0px;
    font-size: 1.2rem;  
    border-radius: 40px;
    background-color: #333;
    color: #999;
    width: 15%;
}
#send:hover{
    background-color: #bebebe;
    color: #111;
    border-radius: 3px;
    border: 1px #000000 solid;
}

#viewBtn,#transferBtn{
    background-color: #333333c4;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    border: 1px #ffffff solid;
}
#viewBtn:hover,#transferBtn:hover{
    background-color: #bebebe;
    color: #111;
    border-radius: 6px;
    border: 1px #000000 solid;
}
@media only screen and (max-width: 1100px){
    #coin1,#coin2{
        width: 70px;
        height: 70px;
    }
    #logo{
        font-size: 1.5rem;
        width: 150px;
    }
    #logoIc{
        width: 40px;
    }
    #title{
        font-size: 1.8rem;
    }
    #refs{
        display: none;
    }
    #refsH{
        display: flex;
        font-size: 0.8rem;
        flex-direction: column;
        position: absolute;
        top: -100vh;
        left: 0px;
        background-color: #333;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        z-index: 25;
    }
    #acno,#acnoHTML{
        display: none;
    }
    #emails,#emailsHTML,.emails{
        display: none;
    }
    #open-menu{
        display: flex;
        background-color: #333;
        color: white;
        border-radius: 2px;
        border: 1px white solid;
        padding: 2px;
        margin-right: 10px;
    }
    #open-menu:hover{
        background-color: #bebebe;
        color: #111;
        border-radius: 3px;
        border: 1px #000000 solid;
    }
    #close-menu{
        background-color: #333;
        color: white;
        border-radius: 2px;
        border: 1px white solid;
        padding: 2px 6px;
        margin-right: 10px;
    }
    #btnCov{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        height: 100%;
    }
    #btnCov button{
        font-size: 0.6rem;
    }
    #close-menu:hover{
        background-color: #bebebe;
        color: #111;
        border-radius: 3px;
        border: 1px #000000 solid;
    }
    #menu-control{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0px;
        justify-content:end;
        align-items: center;
        width: 100%;
        padding: 30px;
        height: 10vh;
    }
    #menu-links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50vh;
        font-size: 1.5rem;
    }
    p{
        font-size: 1.2rem;
    }
    #control{
        position: absolute;
        top: 20px;
    }
    #tableD{
        font-size: 0.8rem;
        width: 80%;
        overflow: auto;
        margin-top: 110px;
    }
    
    #customers table{
        width: 50%;
        height: 70vh;
        overflow: auto;
        position: relative;
    }
    #viewPage{
        padding: 2%;
    }
    #viewPage h1{
        font-size: 1.9rem;
    }
    td{
        font-size: 0.7rem;
    }
    button{
        font-size: 1rem;
    }
    #page1In{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #content{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #viewPr{
        padding: 1%;
    }
    #viewPr h1{
        font-size: 1.9rem;
    }
    #prImg{
        width: 100px;
    }
    #profilePic{
        aspect-ratio: 1/1;
        box-shadow: rgb(135, 135, 135) -10px 10px 0px;
        overflow: hidden;
        display: flex;
        border-radius: 50%;
        justify-content:center;
        align-items: center;
        size: contain;
    }
    #about{
        padding-top: 50px;
        justify-content: flex-start;
    }
    #about h1{
        margin-bottom: 130px;
    }
    #about1In{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #control5 h2{
        font-size: 1.6rem;
    }
    #control4 h1{
        font-size: 1.6rem;
    }


    footer{
        height: 35vh;
        font-size: 1rem;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    #socials a i{
        font-size: 1.2rem;
    }
    #contentHistory{
        height: 70%;
    }
}